/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 14px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles 
   ========================================================================== */



body {
  background-color: #F1594A;

}

.container {
  display: block;
  position: relative; 
  margin-right: auto; 
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 900px;
  height: 506px;

}


.left-side {
  float: left;
  position: relative;
  height: 486px;
  width:410px;
  background-color: #b84f44;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;

}

.right-side {
  float: left;
  position: relative;
  height: 506px;
  width: 400px; 
  background-color: #e5736f;
  padding-left: 25px;
  padding-right: 25px;
}


.ybox { 
  float: left;
  position: relative;
  background: #F8C830;
  width: 198px;
  height:198px;
  border-radius: 20px;
  border-style: solid;
  border-color: #b84f44;
  border-width: 1px;
}

.gbox {
  float: left;
  left: 200px;
  background: #ABD25E;
  width: 198px;
  height: 198px;
  border-radius: 20px;
  border-style: solid;
  border-color: #b84f44;
  border-width: 1px;
}

.bbox {
  float: left;
  position: relative;
  background: #19347A;
  width: 198px;
  height: 198px;
  border-radius: 20px;
  border-style: solid;
  border-color: #b84f44;
  border-width: 1px;
}

.lbbox {
  background: #249AA7;
  width: 198px;
  height: 198px;
  border-radius: 20px;
  float: left;
  position:relative;
  margin-top: 153px;
  margin-bottom: 153px;
  border-style: solid;
  border-color: #e5736f;
  border-width: 1px;

}

.rybox {
  background: #F8C830;
  width: 198px;
  height: 198px;
  border-radius: 20px;
  float: left;
  position:relative;
  margin-top: 153px;
  margin-bottom: 153px;
  border-style: solid;
  border-color: #e5736f;
  border-width: 1px;

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.debug {
  border: 1px dashed purple;
}




